* {
  margin: 0;
  padding: 0;
}

.stage {
  width: 600px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  position: relative;

}

.stage1 {
  width: 100%;
  height: 250px;
  position: relative;
  top: 0px;
  right: 0px;
  background: linear-gradient(
    to bottom, rgb(0, 47, 171) 0%,
    aquamarine 20%, rgb(0, 47, 171) 65%, blue 80%);
  z-index: 1;

}

.stage2 {
  width: 0px;
  height: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: linear-gradient(
    to bottom, lightseagreen 0%,
    lightblue 20%, lightseagreen 65%, lightseagreen 80%);
  z-index: 1;
  animation-name: move2;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;

}

.lines {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;

}

.space-top {
  height: 10px;
  background-color: transparent;

}

.line-strong {
  width: 100%;
  height: 5px;
  background-color: rgb(36, 86, 146);
  margin-top: 10px;
  animation-name: movelines;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;

}

.line-thin {
  width: 100%;
  height: 2px;
  background-color: rgb(36, 86, 146);
  margin-top: 5px;
  z-index: 2;
  animation-name: movelines;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: infinite;

}

.space-middle {
  height: 30px;
  background-color: transparent;

}

@keyframes move2 {
  15% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes movelines {
  50% {
    background: blue;
  }
}

.sprite {
  width: 65px;
  height: 90px;
  background-image: url("../img/sprit.png");
  background-size: 800px 400px;
  background-repeat: no-repeat;
  background-position: -665px -180px;
  position: absolute;
  z-index: 3;
  top: 150px;
  animation-name: run;
  animation-duration: 2s;
  animation-timing-function: steps(1, end);
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-play-state: play;

  transition: left 3s ease-in;
}


@keyframes run {
  20% {
   background-position: -5px -180px;
   left: 65px;
  }

  30% {
    background-position: -69px -180px;
    left: 130px;
  }

  40% {
    background-position: -150px -180px;
    left: 195px;
    width: 85px;
  }

  50% {
    background-position: -246px -180px;
    left: 260px;
    width: 70px;
  }

  60% {
    background-position: -320px -180px;
    left: 325px;
  }

  70% {
    background-position: -380px -180px;
    left: 390px;
  }

  80% {
    background-position: -445px -180px;
    left: 455px;
  }

  90% {
    background-position: -518px -180px;
    left: 520px;
    width: 75px;
  }

  100% {
   background-position: -600px -180px;
   left: 585px;
   width: 65px;
  }
}

.prueba {
  width: 100%;
}
